.elements {
    width: calc(72px * 18);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    z-index: 2;
}

.element {
    background: rgba(234, 234, 234, 0.03);
    box-sizing: border-box;
    border: 1px solid rgba(151, 151, 151, 0.10);
    cursor: pointer;
    font-family: FontinSans-Bold;
    height: 72px;
    position: absolute;
    padding: .3rem;
    transition: all 200ms ease-in-out;
    opacity: 0;
    width: 72px;
    &[class*="unknown"]:hover,
    &:hover{  
        color:$c-dark-blue !important; 
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
        z-index: 10;
        border-color:transparent;
    }
    &.solid{
        background: #8B3230 !important;
        color:$c-dark-blue !important;
    }
    *{ pointer-events: none; }
}

.element__title {
    font-size: 3.5rem;
    letter-spacing: 0;
    margin: 0;
}

.element__number {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: .9rem;
}

.element__name {
    font-size: 1rem;
    letter-spacing: -0.11px;
    line-height: 10px;
    margin: 0 0 5px 0;
}

.element__mass {
    font-size: 1rem;
    letter-spacing: -0.11px;
    line-height: 10px;
    margin: 0;
}

.element.diatomic_nonmetal,
.element.polyatomic_nonmetal {
    color: $c-nonmetal;
    &:hover{
        background: $c-nonmetal;
    }
}

.element.alkali_metal {
    color: $c-alkali-metals;
    &:hover{
        background: $c-alkali-metals;
    }
}

.element.transition_metal {
    color: $c-transition-metal;
    &:hover{
        background: $c-transition-metal;
    }
}

.element.actinide {
    color: $c-acthinoids;
    &:hover{
        background: $c-acthinoids;
    }
}

.element.alkaline_earth_metal {
    color: $c-alkali-earth-metals;
    &:hover{
        background: $c-alkali-earth-metals;
    }
}

.element.lanthanide {
    color: $c-lathanoids;
    &:hover{
        background: $c-lathanoids;
    }
}

.element.metalloid {
    color: $c-metaloids;
    &:hover{
        background: $c-metaloids;
    }
}

.element.post_transition_metal {
    color: $c-post-transition-metal;
    &:hover{
        background: $c-post-transition-metal;
    }
}

.element.noble_gas {
    color: $c-noble-gases;
    &:hover{
        background: $c-noble-gases;
    }
}

.element[class*="unknown"] {
    color: $c-unknown ;
    &:hover{
        background: $c-unknown;
    }
}