.types__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    height: 30px;
    align-items: center;
}

.types__box__title{
    font-family: FontinSans-Regular;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #5F7484;
    letter-spacing: 0;
    padding: 0 5rem 0 2.3rem;
    position: relative;
    span{
        contain: '';
        display: block;
        position: absolute;
        left:-20px;
        top:0;
        bottom:0;
        margin: auto 0;
        width:30px;
        height: 30px;
    }
    &.gas {
        span{border: 3px solid #883434;}
    }
    &.liquid {
        span{border: 3px solid #44C0FF;}
    }
    &.solid {
        span{border: 3px solid #556672;}
    }
    &.unknown {
        span{border: 3px solid #44C0FF;}
    }
}