// Colors
$c-alkali-metals: #FFBAE0;
$c-lathanoids: #DAFF7D;
$c-transition-metal: #FFE6A9;
$c-alkali-earth-metals: #B86FF2;
$c-acthinoids: #79EB64;
$c-post-transition-metal: #FEAF36;
$c-nonmetal: #73C3FF;
$c-metaloids: #7EFF90;
$c-noble-gases: #FF7070;
$c-unknown: #E4E4E4;
$c-dark-blue:#1F2E39;

// Spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Fonts 
$fonti: "Fontin Sans Bold", Helvetica, Arial, sans-serif;